<h1>{{ 'user.email.invitation.title'|trans({'%username%': username}) }}</h1>

<p>{{ 'user.email.invitation.content'|trans }}</p>

<a href="{{ registrationCompletionUrl }}">{{ 'user.email.invitation.cta'|trans }}</a>
