<h1>{{ 'leave_request.email.accepted.title'|trans({'%username%': username}) }}</h1>

<p>{{ 'leave_request.email.accepted.content'|trans }}</p>

<a href="{{ userShowLeaveUrl }}">{{ 'leave_request.email.accepted.cta'|trans }}</a>
