<h1>{{ 'leave_request.email.created.title'|trans({'%username%': username}) }}</h1>

<p>{{ 'leave_request.email.created.content'|trans({'%leaveRequestUsername%': leaveRequestUsername}) }}</p>

<a href="{{ leaveRequestManageUrl }}">{{ 'leave_request.email.created.cta'|trans }}</a>
