<h1>{{ 'leave_request.email.rejected.title'|trans({'%username%': username}) }}</h1>

<p>{{ 'leave_request.email.rejected.content'|trans }}</p>

<a href="{{ userShowLeaveUrl }}">{{ 'leave_request.email.rejected.cta'|trans }}</a>
