<h1>{{ 'meeting.email.cancelled.title'|trans({'%username%': username}) }}</h1>

<p>{{ 'meeting.email.cancelled.content'|trans({'%name%': name}) }}</p>

<a href="{{ meetingShowUrl }}">{{ 'meeting.email.cancelled.cta'|trans }}</a>
