<h1>{{ 'meeting.email.participation_created.title'|trans({'%username%': username}) }}</h1>

<p>{{ 'meeting.email.participation_created.content'|trans({'%name%': name}) }}</p>

<a href="{{ meetingShowUrl }}">{{ 'meeting.email.participation_created.cta'|trans }}</a>
